
<section class="community-area bg-color1 p-b-130" id="community">
<div class="container">
    <div class="community-wrapper">
        <div class="row">
            <div class="col-md-6">
            <div class="section-title m-b-60">
                <h2 class="big-font2">Join our communities</h2>
                <p>Have any question? Want to join the development team? Want to tell us someting? Join us and thousands of our users in the different chats and platforms.</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7">
                    <ul class="fa-ul fa-2x">
                            <li><span class="fa-li" ><i class="fab  fa-telegram-plane social-color1"></i></span><a target="_blank" href="https://t.me/r2cutter">Telegram</a></li>
                            <li><span class="fa-li"><i class="fab fa-twitter social-color3"></i></span><a target="_blank" href="https://twitter.com/r2gui">Twitter</a></li>
                            <li><span class="fa-li"><i class="fab fa-github "></i></span><a target="_blank" href="https://github.com/radareorg/cutter">GitHub</a></li>
                            <li><span class="fa-li"><i class="fas fa-comment-dots font-color3"></i></span><a target="_blank" href="https://webchat.freenode.net/?channels=#cutter">IRC</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-5">
                            <div class="community-img float-right"><img src="{{site.baseurl}}/assets/images/community-img.svg" alt="communuity image" /></div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Community Area  ========================= -->