<div class="footer-wrapper">
    <footer class="footer-area bg-color2">
        <div class="container">
            <div class="footer-widget-wrraper">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <a href="#" class="footer-logo"><img src="{{site.small_logo}}" alt="{{site.title}}" /></a>
                        <div class="footer-widget">
                            <p>Cutter is a FREE and open-source reverse-engineering platform. Cutter is created by
                                reverse
                                engineers for reverse engineers </p>
                            <ul class="social-link list-inline">
                                <li class="list-inline-item"><a href="https://www.github.com/radareorg/cutter"><i
                                            class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.twitter.com/r2gui"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://t.me/r2cutter"><i
                                            class="fab fa-telegram-plane"></i></a></li>
                                <li class="list-inline-item"><a href="https://webchat.freenode.net/?channels=#cutter"><i
                                            class="fas fa-comment-dots"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5 class="heading-5">Cutter</h5>
                            </div>
                            <ul class="widget-list list-inline">
                                <li>
                                    <a href="/docs/building.html" target="_blank">
                                        Build From Source
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cutter.re/docs/code.html" target="_blank">
                                        Contribute
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/radareorg/cutter/issues" target="_blank">
                                        Report an issue
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/radareorg/cutter/blob/master/COPYING" target="_blank">
                                        License
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5 class="heading-5">Resources</h5>
                            </div>
                            <ul class="widget-list list-inline">
                                <li><a href="https://cutter.re/docs/" target="_blank">Documentation</a></li>
                                <li><a href="https://github.com/radareorg/cutter-plugins" target="_blank">Plugins</a>
                                </li>
                                <li><a href="https://radare.org" target="_blank">radare2</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer-copyright-wrapper text-center">
                <p>© {{ site.time | date: "%Y" }} Cutter - a <a href="https://radare.org/r/"
                        target="_blank"><b>radare.org</b></a> project • Website by <a href="https://www.megabeets.net"
                        target="_blank"><b>Megabeets</b></a> </p>
            </div>
            <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
        </div>
        <ul class="footer-shape list-inline">
            <li class="left"><img src="{{site.baseurl}}/assets/images/footer-shap.png" alt="footer shape" /></li>
            <li class="right"><img src="{{site.baseurl}}/assets/images/footer-shap2.png" alt="footer shape" /></li>
        </ul>
    </footer>
</div>