<div class="blog-spacing">
    <div class="latest-slider owl-carousel">
       {% for post in site.posts limit:"9" %}
        <div class="item">
            <div class="blog-latest">
                {% if post.post_image %}
                 <div class="latest-img"><img src="{{post.post_image}}" alt="{{post.title}}"/></div>
                {% endif %}
                <div class="latest-content">
                    <h6 class="heading-6"><a href="{{post.url}}">{{post.title}}</a></h6>
                    <a href="{{post.url}}" class="read-more-btn">Read More</a>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>
</div>