{% if paginator.total_pages > 1 %}
<nav class="page-navigation">
<ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link active" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-double-left"></i></a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-double-right"></i></a></li> 
    {% endif %}
</ul>
</nav>
{% endif %}