<article class="blog-post">
    {% if post.post_image %}
    <div class="post-img"><a href="{{post.url}}"><img src="{{post.post_image}}" alt="{{post.title}}"/></a></div>
    {% endif %}
    {% assign authors = site.data.authors[post.author] %}
    <div class="post-content">
        <div class="post-date">{{post.date | date:"%d"}}<span>{{post.date | date:"%b"}}</span></div>
        <div class="post-author">
            <div class="author-img"><img src="{{authors.image}}" alt="{{authors.name}}"/></div>
            <div class="author-content">
            <a href="/authors/{{authors.name | downcase | url_encode | replace:'+','_'}}">{{authors.name}}</a>
            <ul class="meta-info list-inline">
                <li class="list-inline-item"><i class="fas fa-tag"></i><a href="{{site.baseurl}}/tag/{{post.tags[0] | downcase}}">{{post.tags[0] | capitalize}}</a></li>
                <li class="list-inline-item"><i class="far fa-clock"></i>{{post.date | date_to_long_string}}</li>
            </ul>
            </div>
        </div>
        <div class="post-desc">
            <h5 class="heading-5"><a href="{{post.url}}">{{post.title}}</a></h5>
            <p>{{post.content | strip_html | truncatewords:"15"}}</p>
            <a href="{{post.url}}" class="post-btn">Read More</a>
        </div>
    </div>
</article>