<!-- ==================== Start Watch Video Area  ========================= -->
<section class="watch-video-area bg-image1 bg-overlay p-t-130 p-b-130">
<div class="container">
    <div class="watch-video-wrapper">
        <div class="row">
            <div class="col-lg-6 pr-0">
            <div class="watch-video-play">
                <img src="assets/images/video-screenshot.png" alt="watch image" />
                <a class="play-btn disabled" href="#" data-toggle="modal" data-target="#watch-video"><i class="fas fa-play"></i></a>
            </div>
            </div>
            <div class="col-lg-6 pl-0">
            <div class="watch-video-content">
                <div class="watch-video-top">
                    <h2 class="heading-1 white-text">Coming Soon!</h2>
                </div>
                <div class="watch-video-bottom">
                    <h5 class="m-b-30 heading-5">A quick introduction video for Cutter</h5>
                    <p>Let's explore Cutter functionalities using this short example. We will get to know the interface, the features and the configurable options</p>
                </div>
            </div>
            <div class="watch-arrow" data-aos="fade-up-left"><img src="assets/images/arrow-key.png" alt="watch video arrow" /></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="watch-video" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Live Watching</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <iframe src="#" allow="autoplay; encrypted-media" style="width:100%;height:315px;" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Watch Video Area  ========================= -->